OCR/example_bad_output.txt
OCR/example_good_output.txt
OCR/I_0.png
OCR/I_00.png
OCR/I_01.png
OCR/I_02.png
OCR/holistically-nested-edge-detection/
OCR/Outputs/OutputImages.docx
OCR/Outputs/OutputImages.pdf
OCR/Outputs/OutputImagesUncropped.png
models/28-04-2019evenlargermodel.h5
models/res10_300x300_ssd_iter_140000.caffemodel
models/liveness1.model
models/deploy.prototxt