OCR/example_bad_output.txt
OCR/example_good_output.txt
OCR/I_0.png
OCR/I_00.png
OCR/I_01.png
OCR/I_02.png
FaceRecognition/
OCR/holistically-nested-edge-detection/
OCR/Outputs/OutputImages.docx
OCR/Outputs/OutputImages.pdf
OCR/Outputs/OutputImagesUncropped.png